<div class="ez-data-source__field">
    <div class="ez-data-source__label-wrapper">
        <label 
            class="ez-data-source__label" 
            for="{{ name }}"
        >
            {{ label }}
        </label>
    </div>
    <div class="ez-data-source__input-wrapper">
        <input 
            type="text"
            class="ez-data-source__input form-control"
            id="{{ name }}"
            name="{{ name }}"
        />
    </div>
</div>
