<div class="ez-variants__item" data-item-id={{ item_id }}>
    <label class="ez-variants__item-label">{{ item_label }}</label>
    <input type="text" class="ez-variants__item-input form-control">
</div>
