{% trans_default_domain 'ezcommerce_erp_admin_control_center' %}

<div class="modal fade ez-modal show ez-modal--show-job" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'modal.button.close'|trans|desc('Close') }}">
                    <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#discard"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="ez-modal__args-wrapper">
                    {{ 'modal.show_job.arguments'|trans|desc('Arguments') }}
                    <span class="ez-modal__args"></span>
                </div>
                <pre class="ez-modal__output-wrapper"></pre>
                <div class="ez-modal__error-wrapper"></div>
            </div>
        </div>
    </div>
</div>
