.ez-filters {
    &--email-archive,
    &--erp-performance {
        border: none;

        &:before {
            display: none;
        }

        .ez-filters__row {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: calculateRem(16px);
        }

        .ez-filters__item--user-id {
            .ez-filters__item-label {
                display: block;
            }
        }

        .ez-filters__item-desc {
            height: calculateRem(38px);
            background: $ez-color-base-dark;
            display: flex;
            align-items: center;
            padding: calculateRem(8px);
            position: relative;
            border-radius: calculateRem(4px);
            color: $ez-white;
        }

        .ez-filters__btn-reset {
            position: absolute;
            right: 0;
            border: none;

            .ez-icon {
                fill: $ez-white;
            }
        }

        .ez-filters__item-desc--hidden,
        .ez-filters__item-button--hidden {
            display: none;
        }
    }

    &--erp-logs {
        border: none;

        &:before {
            display: none;
        }
    }
}
