.ez-ecommerce-control-center {
    .ez-tabs {
        border-bottom: none;
    }

    .ez-alert--hidden {
        display: none;
    }

    .ez-icon--trash {
        fill: $ez-color-danger;
    }
}

.ez-ecommerce-price-and-stock {
    .ez-tabs {
        border-bottom: none;
    }
}
